	@font-face {
			font-family: "OpenSansCondensedBold";
			src: url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.eot");
			src: url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.woff") format("woff"),
			url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}