@import "./components/typography.scss";
@import "./components/mixins.scss";
@import "./components/menu_animation.scss";

// Common styles

html{
  font-size: 10px;
}
body,p,ul,li,h1, h2{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
textarea{
  resize: none;
}
.content{
  width: 100%;
  max-width:1200px;
  padding: 0 30px;
  margin: 0 auto;
  @include border-box;
}
.hidden{
  display: none;
}
button.call{
  position: absolute;
  top: 70%;
  left: 50%;
  @include transform(translateX(-50%));
}
.red_button{
  width: 250px;
  height: 60px;
  outline: none;
  background: transparentize($accent,0.4);
  border: 5px solid $accent;
  color: #fff;
  text-transform: uppercase;
  font-family: "OpenSansBold";
  font-size: 1.6rem;
  cursor:pointer;
  @include transition(all,.1s,linear);
  &:hover{
    background: $accent;
  }
}
.fa-graduation-cap{
  font-size: 2.2rem;
  color: $accent;
  margin-right: 5px;
}
.section .subheading{
    font-size: 2rem;
    font-family: "OpenSansBold";
    text-align: center;
    position: relative;
    margin: 50px auto;
    &::after{
      bottom: -20px;
    }
    &::before{
      top: -20px;
    }
}
.subheading::after, .subheading::before{
  content: "";
  width: 30%;
  height: 1px;
  background: $accent;
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
  box-shadow: 0 0 3px 0 $accent;
}

// Header styles

.top_button{
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 100;
  display: none;
  background: $accent;
  cursor: pointer;
  outline: none;
  & i{
    font-size: 3rem;
      color: #fff;
  }
}
header{
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../img/bg_pattern.jpg") no-repeat ;
  background-size: cover;
  overflow: hidden;
}
.white_bg{
  width: 100%;
  height: 100%;
  background: transparentize(#fff, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.header_content{
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
}
.menu_wrapper{
  @include flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.tel_section{
  font-family: "OpenSansBold";
  font-size: 2rem;
  color: #fff;
  background: $accent;
  padding: 10px;
  margin: 10px 0;
}
.menu_section{
  width: 100%;
}
.heading_section{
  position: relative;
}
.heading_content{
  width: 50%;
}
.header_img{
  position: absolute;
  right: 5%;
  top: 15%;
  width: 40%;
}
.burger_menu{
  @include flex;
  margin: 0 auto;
  justify-content: center;
}
.main_menu_wrapper{
  position: absolute;
  right: 0;
  top: -600%;
  z-index: 20;
  @include transition(top, .5s, linear);
}
.main_menu_wrapper.visible{
  top: 110px;
}
.main_menu{
  flex-direction: column;
  background: #fff;
  @include flex;
  justify-content: center;
  list-style: none;
  height: 100%;
  border: 1px solid #ddd;
}
.main_menu li{
  padding: 20px 40px;
  border-bottom: 1px solid #ddd;
  color: $accent;
  @include transition(all, 0.2s, ease);
  &:last-child{
    border-bottom-color: transparent;
  }
  &:hover, &:active{
    background: transparentize($accent, .7);
  }
  &::after{
    background: transparent;
  }
}
.menu_name{
  color: $accent;
  text-transform: uppercase;
}

// Section styles

.section{
  padding: 60px 0;
  text-align: center;
  min-height: 300px;
}
.section:nth-child(2n+2){
  background: transparentize($bg, 0.8);
}
.section p{
  line-height: 2.5rem;
  @include kerning(0.5);
  margin: 15px auto;
  width: 80%;
  text-indent:2rem;
  text-align: justify;
}
.about_small_section{
  text-align: left;
  width: 80%;
  margin: 0 auto;
  & p{
    margin: 15px 0;
    width: 100%;
  }& ul{
    list-style: none;
  }
}
.advantages_wrapper{
  @include flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantage{
  width: 30%;
}
.advantage i{
  font-size: 4rem;
  color: $accent;
}
.advantage p{
  text-align: center;
}
.teachers_wrapper{
  @include flex;
  flex-wrap: wrap;
}
.teachers_container{
  @include border-box;
  padding: 10px;
  width: 50%;
  & p.teacher_type{
    text-transform: uppercase;
    font-family: "OpenSansBold";
    text-align: center;
    font-size: 1.6rem;
  }
}
.teacher_descr li{
  list-style: none;
  text-align: left;
  margin: 15px;
}
.teacher_img{
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
  @include transition(all, .2s, linear);
}
.section_news_content{
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.news_left_col, .news_right_col{
  width: 50%;
}
.subscr_animation{
  position: absolute;
  top: 60%;
  left: 15%;
  z-index: 100;
  font-size: 4rem;
  color: $accent;
  font-family: "OswaldBold";
  animation: blink 1s ease-in-out infinite;
}
.subscr_arrow{
  position: absolute;
  bottom: 50%;
  right: -80px;
}
.news_right_col{
  position: relative;
  & img{
    width: 95%;
    @include transition(all, .3s, ease);
    &:hover{
      box-shadow: 0 0 3px 2px $accent;
    }
  }
  & span{
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translateX(-50%) translateY(-50%));
    font-size: 6rem;
    color: $accent;
    font-family:"OswaldBold";
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}
.vk_ref{
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes blink{
  0%{
    @include transform(rotate(5deg));
  }
  50%{
    @include transform(rotate(-5deg));
  }
  100%{
    @include transform(rotate(5deg));
  }
}
.section_form p{
  text-align: center;
}
.sell_form{
  width: 500px;
  margin: 0 auto;
  padding: 30px;
  @include border-box;
}
.sell_form input, textarea{
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid $accent;
  margin-bottom: 20px;
  outline: none;
  font-size: 1.6rem;
  &:focus{
    box-shadow: 0 0 2px 1px $accent;
  }
}
.contacts_wrapper{
  @include flex;
  justify-content: space-between;
}
.adress_column{
  width: 50%;
}
.adress_line{
  @include flex;
  margin: 20px 10px;
}
.adress_line .name{
  font-family: "OpenSansBold";
  text-transform: uppercase;
  margin-right: 20px;
  width: 30%;
  text-align: right;
}
.adress_line .contact{
  text-align: left;
  width: 70%;
}
.adress_line a{
  color: $bg;
  font-weight: bold;
}
.map_column{
  width: 50%;
}

// Footer styles

footer{
  background: #000;
  min-height: 50px;
  color: #fff;
  & p{
    line-height: 50px;
    font-size: 1.2rem;
  }
}
.footer_wrapper{
  @include flex;
  justify-content: space-between;
}
.gallery_wrapper{
  position: relative;
  img{
    width: 100%;
  }
}
.gallery_slide_large{
  outline: none;
}
.gallery_slide{
  padding: 5px;
  outline: none;
}
.slick-dots li.slick-active button:before{
  color: $accent;
  font-size: 9px;
}
.slick-dots li button:before{
  color: $accent;
}
.slick-prev:before, .slick-next:before{
  color: $accent;
  font-size: 25px;
}
.gallery_row{
  @include flex;
}
.gallery_item{
  width: 25%;
  @include border-box;

  img{
    width: 100%;
  }
}

@import "./components/media.scss";
