@font-face {
    font-family: 'GentiumBookBasic';
    src: url('../fonts/GentiumBookBasicBold/GentiumBookBasic-Bold.eot');
    src: url('../fonts/GentiumBookBasicBold/GentiumBookBasic-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GentiumBookBasicBold/GentiumBookBasic-Bold.woff2') format('woff2'),
        url('../fonts/GentiumBookBasicBold/GentiumBookBasic-Bold.woff') format('woff'),
        url('../fonts/GentiumBookBasicBold/GentiumBookBasic-Bold.ttf') format('truetype'),
        url('../fonts/GentiumBookBasicBold/GentiumBookBasic-Bold.svg#GentiumBookBasic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/LatoRegular/Lato-Regular.eot');
    src: url('../fonts/LatoRegular/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LatoRegular/Lato-Regular.woff2') format('woff2'),
        url('../fonts/LatoRegular/Lato-Regular.woff') format('woff'),
        url('../fonts/LatoRegular/Lato-Regular.ttf') format('truetype'),
        url('../fonts/LatoRegular/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpensansBold/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpensansBold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpensansBold/OpenSans-Bold-webfont.woff2') format('woff2'),
         url('../fonts/OpensansBold/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpensansBold/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpensansBold/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpensansItalic/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpensansItalic/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpensansItalic/OpenSans-Italic-webfont.woff2') format('woff2'),
         url('../fonts/OpensansItalic/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpensansItalic/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpensansItalic/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpensansRegular/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpensansRegular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpensansRegular/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('../fonts/OpensansRegular/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpensansRegular/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpensansRegular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YesevaOne';
    src: url('../fonts/YesevaOne/YesevaOne.eot');
    src: url('../fonts/YesevaOne/YesevaOne.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YesevaOne/YesevaOne.woff2') format('woff2'),
        url('../fonts/YesevaOne/YesevaOne.woff') format('woff'),
        url('../fonts/YesevaOne/YesevaOne.ttf') format('truetype'),
        url('../fonts/YesevaOne/YesevaOne.svg#YesevaOne') format('svg');
    font-weight: normal;
    font-style: normal;
}


