@font-face {
    font-family: 'Dited';
    src: url('../fonts/ditted/Dited.eot');
    src: url('../fonts/ditted/Dited.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ditted/Dited.woff2') format('woff2'),
        url('../fonts/ditted/Dited.woff') format('woff'),
        url('../fonts/ditted/Dited.ttf') format('truetype'),
        url('../fonts/ditted/Dited.svg#Dited') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Engine';
    src: url('../fonts/engineRegular/Engine-Regular.eot');
    src: url('../fonts/engineRegular/Engine-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/engineRegular/Engine-Regular.woff2') format('woff2'),
        url('../fonts/engineRegular/Engine-Regular.woff') format('woff'),
        url('../fonts/engineRegular/Engine-Regular.ttf') format('truetype'),
        url('../fonts/engineRegular/Engine-Regular.svg#Engine-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
