#gallery{
  @include flex;
  .col{
    width: 16%;
  }
  a{
    display: block;
    margin: 3px;
    img{
      width: 100%;
      height: 100%;
      &:hover{
        box-shadow: 0 0 5px 0 $accent;
      }
    }
  }
}
