@media only screen and (max-width: 1045px) {
  .tel_section{
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 1010px) {
  .main_menu li{
    padding: 10px;
  }
}
@media only screen and (max-width: 992px) {
  .heading_description{
    font-size: 3rem;
    line-height: 40px;
    margin-top: 150px;
  }
  .header_img{
    top: 20%;
  }
  .teacher_img{
    width: 200px;
    height: 200px;
  }
  .contacts_wrapper{
    flex-wrap: wrap;
  }
  .adress_column{
    width: 100%;
  }
  .adress_line .name{
    width: 50%;
  }
  .adress_line .contact{
    width: 50%;
  }
  .map_column{
    width: 100%;
  }
  .subscr_animation{
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .header_img{
    top: 25%;
  }
  .top_button{
    right: 20px;
    bottom: 20px;
  }
  .teachers_wrapper{
    flex-direction: column;
    align-items: center;
  }
  .teachers_container{
    width: 80%;
  }
  .section_news_content{
    flex-wrap: wrap;
  }
  .news_left_col, .news_right_col{
    width: 100%;
  }
  .subscr_animation{
    left: 0;
  }
}
@media (max-width: 576px) {
  .section p{
    width: 100%;
  }
  .logo{
    font-size: 4.5rem;
  }
  .menu_section{
    background: #fff;
    padding: 10px 0;
  }
  .heading_description{
    margin-top: 60px;
    text-align: center;
  }
  .header_img{
    width: 50%;
    top: 40%;
  }
  .advantage{
    width: 60%;
    margin: 0 auto 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .sell_form{
    width: 100%;
    padding: 0;
  }
  .sell_form input, textarea{
    width: 90%;
    margin: 0 auto 20px;
  }
  .heading_content{
    width: 100%;
  }
  .adress_line{
    font-size: 14px;
  }
  .subscr_animation{
    font-size: 2rem;
  }
  .subscr_arrow{
    right: -30px;
  }
}
@media (max-width: 430px){
  .top_button{
    right: 5px;
    bottom: 5px;
  }
  .content{
    padding: 0 10px;
  }
  .header_img{
    width: 80%;
  }
  .heading_description{
    margin-top: 30px;
    font-size: 2.5rem;
    line-height: 30px;
  }
  .advantage{
    width: 80%;
  }
  .slick-next{
    right: -20px;
  }
  .slick-prev{
    left: -20px;
  }
  .slick-prev:before, .slick-next:before{
    font-size: 15px;
  }
}
