@mixin kerning($size){
	letter-spacing: $size+px;
}
@mixin border-box{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
@mixin transform($property){
	-webkit-transform: $property;
	   -moz-transform: $property;
	    -ms-transform: $property;
	     -o-transform: $property;
	        transform: $property;
}
@mixin transition($target, $duration, $type){
	-webkit-transition: $target $duration $type;
	   -moz-transition: $target $duration $type;
	    -ms-transition: $target $duration $type;
	     -o-transition: $target $duration $type;
	        transition: $target $duration $type;
}
